<div class="pageTitle">
  <h1>Fillup History</h1>
</div>

<table id="entries" align="center">
  <tr>
    <th>Date</th>
    <th>Mileage</th>
    <th>Distance</th>
    <th>Volume</th>
    <!--<th>Price</th>-->
  </tr>
  <% @fuels.each_with_index do |fuel,i| %>
      <tr class=<%= i.odd? ?  "reg" : "alt"%>>
        <% [:fill_date, :mileage,:distance,:volume].each do |field| %>
          <td>
            <a href="<%=url_for :action => :edit, :id => fuel.object, :query => {:fuel_id => fuel.object} %>">    
              <%= fuel.send field %>
            </a>
          </td>
        <% end %>      
      </tr>
  <% end %>
</table>
