<div class="pageTitle">
  <h1><%= Statistics %></h1>
</div>


<div class="content">
  <ul>
    
        <li>
          <div class="itemLabel">Average Mileage</div>
          <div class="itemValue"><%= @average %></div>
        </li>
    
        <li>
          <div class="itemLabel">Maximum Mileage</div>
          <div class="itemValue"><%= @maximum %></div>
        </li>
    
        <li>
          <div class="itemLabel">Minimum Mileage</div>
          <div class="itemValue"><%= @minimum %></div>
        </li>
    
    
  </ul>
</div>