<div class="pageTitle">
  <h1>Mileage Stats for <%=@carname%></h1>
</div>


<div class="content">
  <ul>
    
        <li>
          <div class="itemLabel">Average</div>
          <div class="itemValue"><%= @average %></div>
        </li>
    
        <li>
          <div class="itemLabel">Maximum</div>
          <div class="itemValue"><%= @maximum %></div>
        </li>
    
        <li>
          <div class="itemLabel">Minimum</div>
          <div class="itemValue"><%= @minimum %></div>
        </li>
    
    
  </ul>
</div>