
/* custom properties */

#entries
{
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    width:100%;
    border-collapse:collapse;
}
#entries th 
{
    font-size:1.1em;
    border:1px solid #98bf21;
    padding:5px 7px 2px 7px;
    text-align:left;
    padding-top:10px;
    padding-bottom:10px;
    background-color:#A7C942;
    color:#ffffff;
}
#entries td
{
    font-size:0.9em;
    border:1px solid #98bf21;
    padding:15px 7px 12px 7px;
}
#entries tr.reg td 
{
    color:#000000;
    background-color:#C2D887
}
#entries tr.alt td 
{
    color:#000000;
    background-color:#EAF2D3;
}
#entries td a
{
    color:#000000;
    display: block;
}


/* Custom CSS */

.custom {
  width: 100%;
  display: table;
  text-align: center;
  border-spacing: 10px;
}
.custom span {
  display: table-cell;
  margin:auto;
}
.custom span.status {
  text-align: center;
  font-size : 8em
}
.custom span.confirm {
  text-align: center;
  font-size : 6em
}
.custom span.syncing {
  text-align: center;
  font-size : 4em
}
.toolbar .centerItem h1 {
  font-size : 2em
}

.toolbar .regularButton .active {
  background-color: #66ccFF;
}
.custom span.syncstatus {
  text-align: center;
  font-size : 1em;
  padding-top : 20px ;
}
.custom span.syncmessage {
  text-align: center;
  font-size : 2em;
  padding-top : 50px ;
}
.custom span.aboutmessage {
  text-align: center;
  font-size : 1.5em;
  padding-top : 50px ;
}
.custom span.help {
  text-align: left;
  font-size : 0.7em;
  padding-top : 100px ;
  font-family : "Times",serif;
}

.pageTitle h1 {
  display:block
}
.content form label.customFieldLabel {
    text-align:center;
}
/* Chart */
.chart {
  padding-top:10%;
  padding-left:10%;
}